API_KEY=
API_SECRET=
# mainnet: https://open-api.ceffu.com
# signet: https://qa.ejeokvv.com/ltu/capi/custody
BASE_URL=https://open-api.ceffu.com
# BTC amount for staking, "1" means 1 BTC
STAKING_AMOUNT="0.0001"
# btc pk from the validator list api
STAKING_VALIDATOR_PK="validator_pk"
STAKING_CHANGE_ADDRESS_OR_WALLETID="wallet_id_or_address"
STAKING_FROM_ADDRESS_OR_WALLETID="wallet_id_or_address"
STAKING_DESTINATION_ADDRESS_OR_WALLETID="wallet_id_or_address"